#grid-container {
    padding: 10px;
    display: flex;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    
}

.columns {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    flex-direction: column;


}

.rows {
    border: 1px solid green;
    flex: 1;
}

.blue-background {
    background-color: blue;
}

.white-background {
    background-color: white;
}

.increase-background-opacity {
    background: rgba(0,0,0,0.1);
}

