* {
    
}

h1, #all-controls, #container-of-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    
}

#all-controls {
  border: 1px solid red;
  gap: 10px;
}

.button {
   
    
}



#grid-container {
    padding: 10px;
    display: flex;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    
}

.columns {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    flex-direction: column;


}

.rows {
    border: 1px solid green;
    flex: 1;
}


.increase-background-opacity {
    background: rgba(0,0,0,0.1);
}

